body{
    background-color: black;
    color: white;
    margin: 30px 30px 30px 30px;
}

a{
    color:#1c9eed;
}

p{
    width: 400px;
}

.pc{
    width: 250px;
    margin: 25px 25px 0px 0;
}

.rs{
    margin-right: 3px;
}