body{
    background-color: black;
    color: white;
    margin: 30px 30px 30px 30px;
    font-family: Comic Sans MS;
}

footer{
    margin-top: 25%;
    text-align: center;
}

a{
    color: blue;
    margin-right: 5px;
}

.youtubesn{
    color: red;
}

.osusn{
    color: rgb(255, 0, 212);
}

.instagramsn{
    color: rgb(230, 69, 95);
}

.facebooksn{
    color: rgb(0, 110, 255);
}

.tiktoksn{
    color: white;
}

.githubsn{
    color: white;
}

.twitchsn{
    color: rgb(154, 20, 252);
}

.timoteus{
    color: yellow;
}

.twittersn{
    color: rgb(0, 195, 255);
}